<div class="h-full">
  <div class="flex flex-row align-items-center justify-content-between ml-3">
    <h1>{{ $sidebarItem() }}</h1>
    <div class="flex flex-row align-items-center mr-3">
      <p-avatarGroup class="mr-3">
        <p-avatar image="assets/img/icon1.png" size="large" shape="circle" />
        <p-avatar image="assets/img/icon2.jpg" size="large" shape="circle" />
        <p-avatar label="M" shape="circle" size="large"></p-avatar>
        <p-avatar label="N" shape="circle" size="large"></p-avatar>
        <p-avatar label="K" shape="circle" size="large"></p-avatar>
      </p-avatarGroup>
      <p-button
        label="invite"
        icon="pi pi-plus"
        [rounded]="true"
        severity="info"
      ></p-button>
    </div>
  </div>

  <div class="dashboard">
    @for (item of groups; let i = $index; track i) {
      <div>
        <div
          class="mx-2 flex flex-row align-items-center justify-content-between"
        >
          <div class="flex flex-row align-items-center">
            <h3 class="mr-3">{{ item }}</h3>
            <div
              class="border-1 border-round-2xl px-3 font-semibold opacity-60"
            >
              {{ this.$tasks()[$sidebarItem()][item].length }}
            </div>
          </div>
          <i
            class="pi pi-plus text-xl opacity-80 cursor-pointer"
            (click)="onClickAddTask(item)"
          ></i>
        </div>
        <div
          class="custom-divider"
          [style.border-color]="statusStyle[item].mainColor"
        ></div>
        <div
          class="border-round-md p-2 my-2"
          [style.background-color]="'var(--surface-ground)'"
        >
          @for (
            task of $tasks()[$sidebarItem()][item];
            let i = $index;
            track i
          ) {
            <div
              class="border-400 border-1 bg-white border-round-xl px-1 h-auto p-1 mb-2"
              (click)="onClickTask(task)"
            >
              <p-tag
                styleClass="font-semibold text-white"
                [style]="{
                  background:
                    'linear-gradient(to right,' +
                    statusStyle[item].leftColor +
                    ',' +
                    statusStyle[item].leftColor,
                  color: 'black',
                }"
                [rounded]="true"
                [value]="task.status"
              ></p-tag>
              <h3>{{ task.title }}</h3>
              <p class="opacity-60">{{ task.description }}</p>
              @if (item !== "TODO") {
                <div class="mb-2">
                  <div
                    class="flex flex-row justify-content-between align-items-center"
                  >
                    <p class="font-semibold text-color-secondary">Progress</p>
                    <p class="font-semibold text-color-secondary">
                      {{ task.progress }}/100
                    </p>
                  </div>
                  <p-progressBar
                    [value]="task.progress"
                    [color]="
                      task.progress !== '100'
                        ? statusStyle[item].mainColor
                        : 'var(--green-400)'
                    "
                    [style]="{
                      height: '0.425rem',
                    }"
                    (click)="onClickUpdateProgressBar($event, item, i)"
                  >
                    <ng-template pTemplate="content" let-value> </ng-template>
                  </p-progressBar>
                </div>
              }
              <p-avatarGroup>
                <p-avatar
                  [style]="{ width: '2.5rem', height: '2.5rem' }"
                  image="assets/img/icon1.png"
                  shape="circle"
                />
                <p-avatar
                  [style]="{ width: '2.5rem', height: '2.5rem' }"
                  image="assets/img/icon2.jpg"
                  shape="circle"
                />
              </p-avatarGroup>
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>

<p-sidebar
  [(visible)]="sidebarTask.visible"
  position="right"
  styleClass="w-30rem"
>
  <div class="flex align-items-center justify-content-between w-full">
    <h1>{{ sidebarTask.task?.title }}</h1>
    <p-avatarGroup class="mr-3">
      <p-avatar image="assets/img/icon1.png" size="large" shape="circle" />
      <p-avatar image="assets/img/icon2.jpg" size="large" shape="circle" />
      <p-avatar label="M" shape="circle" size="large"></p-avatar>
    </p-avatarGroup>
  </div>
  <h4>{{ sidebarTask.task?.description }}</h4>
  <p-divider></p-divider>
  <!--  timeline-->
  <div class="w-full flex justify-content-center align-items-start flex-column">
    <div class="w-full flex justify-content-between align-items-center">
      <h2>Timeline</h2>
      <i class="pi pi-plus text-xl opacity-80 cursor-pointer"></i>
    </div>
    <p-timeline
      class="w-full custom-p-sidebar"
      [value]="sidebarTask.task?.timeline"
    >
      <ng-template pTemplate="marker" let-value>
        <span
          class="flex w-2rem h-2rem align-items-center justify-content-center text-white border-circle z-1 shadow-1"
          [style]="{
            'background-color':
              value.status === 'done'
                ? 'var(--green-600)'
                : 'var(--surface-border)',
          }"
        >
          <i class="pi pi-check-circle"></i>
        </span>
      </ng-template>
      <ng-template pTemplate="content" let-event>
        <div class="flex flex-row align-items-start justify-content-between">
          <p class="font-semibold m-1">{{ event.comment }}</p>
          <small class="m-2">{{
            event.createdAt | date: "yyyy/MM/dd HH:mm"
          }}</small>
        </div>
      </ng-template>
    </p-timeline>
  </div>
</p-sidebar>
