.dashboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.custom-divider {
  border: 0.1rem solid var(--orange-200);
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

:host ::ng-deep .custom-p-sidebar .p-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: calc(100vh - 2.5rem);
  margin: 1.5rem;
  overflow-y: auto;
}

:host ::ng-deep .custom-p-menubar.p-element.custom-p-menubar {
  background: white;
}

:host ::ng-deep .custom-p-timeline .p-timeline-event-opposite {
  display: none;
}
