.item,
.item * {
  cursor: pointer;
}

.bg-item-hover:hover {
  background-color: var(--surface-50);
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

.bg-item-click {
  background-color: var(--surface-0);
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
