<div class="w-full flex h-screen">
  <div class="w-full mx-2 flex flex-column">
    <div class="w-full">
      <h2>DashBoard</h2>
      <div class="w-full">
        @for (item of sidebarData; track item; let idx = $index) {
          <div
            class="w-full px-3 my-2 border-round-xl item"
            (click)="onClickSidebarItem(idx)"
            [class.bg-item-click]="item.clicked"
            [class.bg-item-hover]="!item.clicked"
          >
            <div class="w-full flex justify-content-start align-items-center">
              <i class="pi pi-code mr-2 text-xl"></i>
              <p class="font-semibold">{{ item.label }}</p>
            </div>
          </div>
        }
      </div>
    </div>
  </div>
</div>
